<div ng-controller='TodoController' class='container'>

  <div class="jumbotron main-container text-center">
    <h1>Lotus Todo</h1>

    <p class='lead'>
      A demo application to showcase the use of <a href="https://github.com/lotus">Lotus</a> and <a href="https://github.com/angular/angular.js">AngularJS</a>.
    </p>

    <div class="row todo-form">
      <div class="col-md-6 col-md-offset-3">
        <form ng-submit='createTodo()'>
          <input type="text" name="body" class="form-control" placeholder='What do you have to do?' ng-model='todo.body'>

          <input type="submit" name="submit" value="Add task" class="btn btn-lg btn-success pull-right">
        </form>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 col-md-offset-3">

        <ul class='list-unstyled'>
          <li class='todo-item' ng-repeat='todo in todos'>
            {{ todo.body }}
            <a ng-click='deleteTodo(todo)' class='pull-right btn btn-sm btn-info' href=''>Done</a>
          </li>
        </ul>

    </div>
  </div>
</div>
